{% extends 'base_institucional.html'%}

{% block conteudo %}
<div class="container-fluid text-center container-buscar mb-5">
    <div class="container flex-column mt-5">
        <h1 class="text-center" style="color: #ce9647; font-weight: bold;">O seu sagrado na sua porta!</h1>
        <p class="text-center" style="color: #fff;">Encontre seus artigos religiosos, esotérios, místicos, tudo em um só
            lugar!</p>
        <div class="row">
            <div class="col- d-flex justify-content-center">
                <form>
                    <div class="input-group mb-3" id="inputBuscar">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-geo-alt-fill"></i></span>
                        <input type="search" class="form-control p-3" placeholder="Informe sua Localização!"
                            style="width: 368px;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color: #fff; height: 200px;" >

</div>



{% endblock%}