{% extends 'base_institucional.html' %}

{% block conteudo %}
<div class="container-fluid  mb-5" style="background-color: #fff;">
    <div class="container">
        <h1 class="text-center pt-4 mb-4">Seja Nosso Parceiro</h1>

        <h3>Por que cadastraria a minha empresa no Sagrado na Porta?</h3>
        <p>Ao cadastrar a sua empresa no sagrado na porta, ela estará visível aos nossos clientes, com mais visibilidade
            a
            sua empresa terá amumento nas vendas e também ganhará logística de entrega.</p>

        <h3>O que eu preciso ter para cadastrar o meu estabelecimento?</h3>
        <p>Ao cadastrar a sua empresa no sagrado na porta, ela estará visível aos nossos clientes, com mais visibilidade
            a
            sua empresa terá amumento nas vendas e também ganhará logística de entrega.</p>

        <h3>Qual o valor que eu como empresa terei que pagar para estar cadastrado?</h3>
        <p>Ao cadastrar a sua empresa no sagrado na porta, ela estará visível aos nossos clientes, com mais visibilidade
            a
            sua empresa terá amumento nas vendas e também ganhará logística de entrega.</p>
    </div>

</div>


{% endblock %}